# Virtual environment
venv/

# Model files
*.h5

# Compiled Python files
*.pyd
*.dll
*.so

# Caches and logs
__pycache__/
*.log

# System files
.DS_Store

# Training/testing data
train/
test/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode or other IDE settings
.vscode/
.idea/

# Git LFS artifacts (optional but helpful if you tried it before)
.gitattributes
